.hero {
  background-image: url('../images/payment-background.png');
  height: 220px;
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__title {
  font-weight: 400;
  font-size: 21px;
  font-family: 'Geometria medium';
  color: white;
}

.info {
  padding-top: 40px;
  font-family: 'Geometria';
  font-size: 15px;
  letter-spacing: 0;
  line-height: 1.8;
}

.info__container {
  padding-left: 50px;
  padding-right: 50px;
}

.info__message {
  font-weight: 600;
}

.info__note {
  margin-top: 35px;
  color: #087b49;
}

.info__svg {
  margin-right: 5px;
  fill: #087b49;
  vertical-align: sub;
}

.info__caption {
  margin-top: 35px;
  font-size: 14px;
  font-weight: 600;
}

.info__list {
  margin-top: 10px;
}

.info__item::before {
  content: '';
  display: inline-block;
  width: 3px;
  height: 3px;
  background-color: #000000;
  vertical-align: middle;
  border-radius: 7px;
  margin-right: 5px;
}
