<!DOCTYPE html>
<html lang="en">

<head>
    <include src="./partials/head.html"></include>
    <title>Document</title>
    <link rel="stylesheet" href="../js/slick/slick/slick.css">
    <link rel="stylesheet" href="../js/slick/slick/slick-theme.css">
</head>

<body class="preload">

    <include src="./partials/header.html"></include>

    <section class="after section">
        <div class="container">
            <p class="section__message after__message">Спасибо за заказ</p>
            <p class="after__submessage">Ваш заказ успешно оформлен.<br>
                Спасибо за покупки!
            </p>
            <a class="button after__button" href="#">Вернуться к покупкам</a>
        </div>
    </section>

    <include src="./partials/recent.html"></include>
    <include src="./partials/subscribe.html"></include>

    <include src="./partials/footer.html"></include>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js" crossorigin="anonymous"></script>
    <script src="/js/header.js"></script>
    <script src="/js/recent.js"></script>
    <script src="/js/after-order.js"></script>

</body>

</html>