<!DOCTYPE html>
<html lang="en">

<head>
    <include src="./partials/head.html"></include>
    <title>Document</title>
    <link rel="stylesheet" href="../js/slick/slick/slick.css">
    <link rel="stylesheet" href="../js/slick/slick/slick-theme.css">
</head>

<body class="preload">
    <include src="./partials/header.html"></include>

    <main>
        <section class="catalog">

            <div class="container">
                <h1 class="section__title">Новинки</h1>

                <ul class="catalog__list">
                    <li class="catalog__item">
                        <a class="catalog__link" href="#">
                            <img class="catalog__image" src="../images/catalog/item1.png" alt="Фото товара">
                            <p class="catalog__name">Платье</p>
                            <p class="catalog__price">1190</p>

                        </a>
                        <button class="catalog__favorites js-favorite is-favorite" type="button" data-id="86"
                            aria-label="Add in favorites">
                        </button>
                    </li>

                    <li class="catalog__item">
                        <a class="catalog__link" href="#">
                            <img class="catalog__image" src="../images/catalog/item2.png" alt="Фото товара">
                            <p class="catalog__name">Платье</p>
                            <p class="catalog__price">1190</p>
                        </a>
                        <button class="catalog__favorites js-favorite" type="button" data-id="86"
                            aria-label="Add in favorites">
                        </button>
                    </li>

                    <li class="catalog__item">
                        <a class="catalog__link" href="#">
                            <img class="catalog__image" src="../images/catalog/item3.png" alt="Фото товара">
                            <p class="catalog__name">Платье</p>
                            <p class="catalog__price">1190</p>
                        </a>
                        <button class="catalog__favorites js-favorite" type="button" data-id="86"
                            aria-label="Add in favorites">
                        </button>
                    </li>

                    <li class="catalog__item">
                        <a class="catalog__link" href="#">
                            <img class="catalog__image" src="../images/catalog/item4.png" alt="Фото товара">
                            <p class="catalog__name">Платье</p>
                            <p class="catalog__price">1190</p>
                        </a>
                        <button class="catalog__favorites js-favorite" type="button" data-id="86"
                            aria-label="Add in favorites">
                        </button>
                    </li>

                    <li class="catalog__item">
                        <a class="catalog__link" href="#">
                            <img class="catalog__image" src="../images/catalog/item5.png" alt="Фото товара">
                            <p class="catalog__name">Платье</p>
                            <p class="catalog__price">1190</p>
                        </a>
                        <button class="catalog__favorites js-favorite" type="button" data-id="86"
                            aria-label="Add in favorites">
                        </button>
                    </li>

                    <li class="catalog__item">
                        <a class="catalog__link" href="#">
                            <img class="catalog__image" src="../images/catalog/item6.png" alt="Фото товара">
                            <p class="catalog__name">Платье</p>
                            <p class="catalog__price">1190</p>
                        </a>
                        <button class="catalog__favorites js-favorite" type="button" data-id="86"
                            aria-label="Add in favorites">
                        </button>
                    </li>

                    <li class="catalog__item">
                        <a class="catalog__link" href="#">
                            <img class="catalog__image" src="../images/catalog/item7.png" alt="Фото товара">
                            <p class="catalog__name">Платье</p>
                            <p class="catalog__price">1190</p>
                        </a>
                        <button class="catalog__favorites js-favorite" type="button" data-id="86"
                            aria-label="Add in favorites">
                        </button>
                    </li>

                    <li class="catalog__item">
                        <a class="catalog__link" href="#">
                            <img class="catalog__image" src="../images/catalog/item8.png" alt="Фото товара">
                            <p class="catalog__name">Платье</p>
                            <p class="catalog__price">1190</p>
                        </a>
                        <button class="catalog__favorites js-favorite" type="button" data-id="86"
                            aria-label="Add in favorites">
                        </button>
                    </li>
                </ul>

                <button class="button catalog__button is-show-more" type="button">Показать еще</button>
            </div>

        </section>

        <include src="./partials/recent.html"></include>
        <include src="./partials/subscribe.html"></include>
        <!-- <include src="./partials/ask.html"></include> -->
        <include src="./partials/notification.html"></include>
    </main>




    <include src="./partials/footer.html"></include>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js" crossorigin="anonymous"></script>
    <script src="/js/header.js"></script>
    <script src="/js/recent.js"></script>
    <script src="/js/new.js"></script>
    <script src="/js/catalog.js"></script>

</body>

</html>