<footer class="footer">
    <div class="container footer__container">

        <p class="footer__logo"><a href="#">MOVE</a></p>
        <p class="footer__text">Контакти</p>

        <ul class="footer__list">
            <li class="footer__contact"><a class="footer__mail"
                    href="mailto:elisgordon8@gmail.com">elisgordon8@gmail.com</a></li>
            <li class="footer__contact">ФОП “Головко Валерія Володимирівна”</li>
            <li class="footer__contact">код ЕГРПОУ: 3483606220</li>
        </ul>

        <ul class="footer__payments">
            <li class="footer__card">
                <img class="footer__image" src="../images/icons/visa.png" alt="Visa">
            </li>

            <li class="footer__card">
                <img class="footer__image" src="../images/icons/mastercard.png" alt="Mastercard">
            </li>

            <li class="footer__card">
                <img class="footer__image" src="../images/icons/monobank.png" alt="Monobank">
            </li>

            <li class="footer__card">
                <img class="footer__image" src="../images/icons/privatbank.png" alt="Privatbank">
            </li>
        </ul>


    </div>

</footer>