<!DOCTYPE html>
<html lang="en">

<head>
    <include src="./partials/head.html"></include>
    <title>Document</title>
    <link rel="stylesheet" href="../js/slick/slick/slick.css">
    <link rel="stylesheet" href="../js/slick/slick/slick-theme.css">
</head>

<body class="preload">

    <include src="./partials/header.html"></include>

    <section class="hero">
        <div class="container hero__container">
            <div class="hero__wrap">
                <h1 class="hero__title">SS ’21</h1>
                <p class="hero__subtitle">new collection</p>
            </div>
        </div>
    </section>

    <section class="category">
        <a class="category__button" href="#">Перейти в каталог</a>

        <div class="container category__container">
            <ul class="category__list">
                <li class="category__item">
                    <img class="categoty__image" src="../images/categories/img1.jpg" alt="Фото категории">
                    <div class="category__content">
                        <h2 class="category__title">Платья и юбки</h2>
                        <a class="category__link" href="#">Купить</a>
                    </div>
                </li>

                <li class="category__item">
                    <img class="categoty__image" src="../images/categories/img2.jpg" alt="Фото категории">
                    <div class="category__content">
                        <h2 class="category__title">Платья и юбки</h2>
                        <a class="category__link" href="#">Купить</a>
                    </div>
                </li>
            </ul>


        </div>
    </section>

    <include src="./partials/new.html"></include>
    <include src="./partials/recent.html"></include>
    <include src="./partials/subscribe.html"></include>
    <include src="./partials/footer.html"></include>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js" crossorigin="anonymous"></script>
    <script src="/js/header.js"></script>
    <script src="/js/recent.js"></script>
    <script src="/js/new.js"></script>
    <script src="/js/home.js"></script>

</body>

</html>