<div class="wrapper-loading">
    <div class="line line-1">
        <span class="circle circle-1">M</span>
        <span class="circle circle-2">O</span>
        <span class="circle circle-3">O</span>
        <span class="circle circle-4">O</span>
        <span class="circle circle-5">O</span>
    </div>
    <div class="line line-2">
        <span class="circle circle-6">O</span>
        <span class="circle circle-7">O</span>
        <span class="circle circle-8">O</span>
        <span class="circle circle-9">O</span>
        <span class="circle circle-10">O</span>
    </div>
    <div class="line line-3">
        <span class="circle circle-11">O</span>
        <span class="circle circle-12">O</span>
        <span class="circle circle-13">O</span>
        <span class="circle circle-14">O</span>
        <span class="circle circle-15">O</span>
    </div>
    <div class="line line-4">
        <span class="circle circle-16">O</span>
        <span class="circle circle-17">O</span>
        <span class="circle circle-18">O</span>
        <span class="circle circle-19">O</span>
        <span class="circle circle-20">O</span>
    </div>
    <div class="line line-5">
        <span class="circle circle-21">O</span>
        <span class="circle circle-22">O</span>
        <span class="circle circle-23">O</span>
        <span class="circle circle-24">V</span>
        <span class="circle circle-25">E</span>
    </div>
</div>