<div class="backdrop is-hidden notification-success">
    <div class="notification">
        <svg class="notification__icon" width="30" height="30">
            <use class="icon-success" href="../images/icons/sprite.svg#icon-check"></use>
            <use class="icon-error" href="../images/icons/sprite.svg#icon-exclamation"></use>

        </svg>
        <p class="notification__text js-notification__text">Какой-то текст</p>
        <svg class="notification__close js-notification-close" width="20" height="20">
            <use href="../images/icons/sprite.svg#icon-cross"></use>
        </svg>
    </div>
</div>