<!DOCTYPE html>
<html lang="en">

<head>
    <include src="./partials/head.html"></include>
    <title>Document</title>
    <link rel="stylesheet" href="../js/slick/slick/slick.css">
    <link rel="stylesheet" href="../js/slick/slick/slick-theme.css">
</head>

<body class="preload">
    <include src="./partials/header.html"></include>

    <section class="hero">
        <h1 class="section__title hero__title">Обмен и возврат</h1>
    </section>

    <section class="info">
        <div class="container info__container">
            <p class="info__message">Заказ отправляется в течении 2-5 рабочих дней
                после предоплаты в размере 200 грн.</p>

            <p class="info__note">
                <svg class="info__svg" width="20" height="20">
                    <use class="" href="../images/icons/sprite.svg#icon-info"></use>
                </svg>

                Так же можете полностью оплатить Вашу
                покупку, не переплачивая комиссию
                за наложенный платёж на почте
            </p>

            <p class="info__caption">Отправки по Украине осуществляются службами доставки:</p>
            <ul class="info__list">
                <li class="info__item">Новая Почта</li>
                <li class="info__item">Укр Почта</li>
            </ul>


        </div>
    </section>

    <include src="./partials/recent.html"></include>
    <include src="./partials/subscribe.html"></include>


    <include src="./partials/footer.html"></include>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js" crossorigin="anonymous"></script>
    <script src="/js/header.js"></script>
    <script src="/js/recent.js"></script>
    <script src="/js/payment.js"></script>
</body>

</html>