<section class="recent">
    <div class="container recent__container">
        <h2 class="recent__title">Недавно просматривали</h2>

        <div class="recent__wrap">

            <button class="recent__button recent__previos" aria-label="Left">
                <i class="recent__arrow arrow__left"></i>
            </button>

            <ul class="recent__list">
                <li class="recent__item">
                    <a class="recent__link" href="#" aria-label="Open link with product">
                        <img class="recent__image" src="../images/girl.png" alt="">
                    </a>
                </li>
                <li class="recent__item">
                    <a class="recent__link" href="#" aria-label="Open link with product">
                        <img class="recent__image" src="../images/girl.png" alt="">
                    </a>
                </li>

                <li class="recent__item">
                    <a class="recent__link" href="#" aria-label="Open link with product">
                        <img class="recent__image" src="../images/girl.png" alt="">
                    </a>
                </li>
                <li class="recent__item">
                    <a class="recent__link" href="#" aria-label="Open link with product">
                        <img class="recent__image" src="../images/girl.png" alt="">
                    </a>
                </li>
            </ul>

            <button class="recent__button recent__next" aria-label="Left">
                <i class="recent__arrow arrow__right"></i>
            </button>
        </div>
    </div>
</section>