<!DOCTYPE html>
<html lang="en">


<head>
    <include src="./partials/head.html"></include>
    <title>Document</title>
    <link rel="stylesheet" href="../js/slick/slick/slick.css">
    <link rel="stylesheet" href="../js/slick/slick/slick-theme.css">

</head>

<body class="preload">
    <include src="./partials/header.html"></include>

    <section class="hero">
        <h1 class="section__title hero__title">Обмен и возврат</h1>
    </section>


    <section class="info">
        <div class="container info__container">
            <p class="info__title">Вы можете вернуть или обменять товар, если:</p>

            <ul class="info__list">
                <li class="info__item">
                    Вещь не имеет следов использования и носки.
                </li>
                <li class="info__item">
                    Товар полностью укомплектован, сохранены бирки.
                </li>
                <li class="info__item">
                    Вещь сохраняет первоначальный вид и свои
                    потребительские свойства.
                </li>
                <li class="info__item">
                    Обмен занимает до трёх рабочих дней с момента
                    получения нами посылки.
                </li>
                <li class="info__item">
                    В случае обмена/возврата не по нашей вине почту
                    оплачивает покупатель.
                </li>
                <li class="info__item">
                    При несоблюдении какого-либо
                    из вышеперечисленных пунктов, магазин вправе
                    отказать в обмене/возврате и отправит Вам Вашу
                    посылку обратно за Ваш счет!
                </li>


            </ul>

            <p class="info__notice">Для обмена или возврата свяжитесь с нами в
                <a class="info__link" href="#">Direct!</a>
            </p>
        </div>
    </section>




    <include src="./partials/recent.html"></include>
    <include src="./partials/subscribe.html"></include>

    <include src="./partials/ask.html"></include>

    <include src="./partials/footer.html"></include>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js" crossorigin="anonymous"></script>
    <script src="/js/header.js"></script>
    <script src="/js/recent.js"></script>
    <script src="/js/refund.js"></script>

</body>

</html>