.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition-property: opacity, visibility;
  padding: 5px 15px;
  overflow-y: scroll;
  z-index: 3;
  transition: 250ms;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal__close {
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
  width: 28px;
  height: 28px;
  opacity: 0.3;
  border: none;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;

  &::before,
  &:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 17px;
    width: 2px;
    background-color: #333;
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }

  &:hover {
    opacity: 1;
  }
}

.modal {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  max-width: 450px;
  padding: 25px 10px;
  background-color: #ffffff;
  text-align: center;
  transition-property: transform, opacity;
  transform: translate(-50%, -50%) scale(1);
  transition-duration: 250ms;
  transition-property: transform, opacity;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.25);
}
