.catalog {
  padding-top: 40px;
  padding-bottom: 40px;
}

.catalog__title {
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  font-size: 21px;
  font-family: 'Geometria medium';
}

.catalog__list {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
}

.catalog__item {
  width: calc((100% - 20px) / 2);
  position: relative;
}

.catalog__item:nth-child(2n) {
  margin-left: 20px;
}

.catalog__item:nth-child(n + 3) {
  margin-top: 40px;
}

.catalog__image {
  max-width: 100%;
}

.catalog__name {
  margin-top: 15px;
  color: #777777;
  font-family: 'Geometria';
}

.catalog__price {
  margin-top: 8px;
  font-family: 'Geometria Medium';

  &::before {
    content: '\20B4';
    font-size: 1.04em;
  }
}

.catalog__favorites {
  width: 20px;
  height: 20px;
  background-color: transparent;
  padding: 0;
  border: none;
  position: absolute;
  top: 8px;
  right: 8px;
  fill: #ffffff;
  background-image: url('../../images/icons/heart-empty.svg');
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: center;
}

.catalog__icon {
  display: block;
}

.catalog__button {
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.heart-full {
  display: none;
}

.catalog__favorites.is-favorite {
  background-image: url('../../images/icons/heart-full.svg');
}
